<p>
	<%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p><span class="quiet">posted by <%= @post.creator.username %> at 
		<%= @post.created_at %></span></p>
<p><%= @post.description %></p>
<hr/>

<%= link_to 'go back', posts_path %>